.contact-me {
    background-color: #fff;
}

.contact-me .mdl-chip {
    width: 100%;
    height: 100%;
}
.contact-me .mdl-chip:hover{
    opacity: 1;
}

.contact-me h3 {
    text-align: center;
    font-family: 'Jomhuria', cursive;
    margin: 0;
    padding-top: 24px;
}

.contact-me .social div.mdl-cell {
    cursor: pointer;
}

.contact-me .social span {
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    text-align: center;
}
