{% load static %}

<div class="contact-me">
    <h3>ارتباط با من</h3>

    <div class="mdl-grid social">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="https://www.instagram.com/parzza/">
                <button type="button" class="mdl-chip">
                    <span class="mdl-chip__text">اینستاگرام</span>
                </button>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="https://www.linkedin.com/in/parsa-eini">
                <button type="button" class="mdl-chip">
                    <span class="mdl-chip__text">لینکداین</span>
                </button>
            </a>
        </div>

        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="https://github.com/parsaeini">
                <button type="button" class="mdl-chip">
                    <span class="mdl-chip__text">گیت هاب</span>
                </button>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a href="">
                <button type="button" class="mdl-chip">
                    <span class="mdl-chip__text">تلگرام</span>
                </button>
            </a>
        </div>

    </div>
</div>