{% load static %}

<div class="contact-me" id="contact-me">
  <h3>ارتباط با من</h3>

  <div class="mdl-grid social">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/instagram.png" %}" alt="">
          <span class="mdl-chip__text">parzza</span>
        </span>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/linkedin.png" %}" alt="">
          <span class="mdl-chip__text">parsa-eini</span>
        </span>
    </div>

    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/telegram.png" %}" alt="">
          <span class="mdl-chip__text">parsa_eini</span>
        </span>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/github-sign.png" %}" alt="">
          <span class="mdl-chip__text">parsaeini</span>
        </span>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/gmail.png" %}" alt="">
          <span class="mdl-chip__text">parsaeini1998</span>
        </span>
    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
        <span class="mdl-chip mdl-chip--contact">
          <img src="{% static "main/images/viber.png" %}" alt="">
          <span class="mdl-chip__text">+989389071830</span>
        </span>
    </div>

  </div>
</div>