<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row header">
      <!-- Title -->
      <span class="mdl-layout-title link">پارسا عینی</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link link" href="">رزومه</a>
        <a class="mdl-navigation__link link" href="">ارتباط با من</a>
        <a class="mdl-navigation__link link" href="">سابقه کاری</a>
        <a class="mdl-navigation__link link" href="">توانایی ها</a>
      </nav>
    </div>
  </header>
</div>