{% load static %}
<div class="job-history">
  <div class="mdl-grid content">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card mdl-shadow--16dp upkook">
        <div class="mdl-card__title mdl-card--expand">
          <img src="{% static 'main/images/upkook.png' %}">
          <h2 class="mdl-card__title-text">آپ کوک</h2>
        </div>
        <div class="mdl-card__supporting-text">
          اولین پلتفرم سنجش تحربه مشتری در ایران
        </div>
        <div class="mdl-card__actions mdl-card--border">
          در این استارتاپ به عنوان Backend developer مشفول به کار بودم
        </div>
        <div class="mdl-card__actions mdl-card--border date">
          از دی ۹۷ تا فروردین ۹۹
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card mdl-shadow--16dp tenthaward">
        <div class="mdl-card__title mdl-card--expand">
          <img src="{% static 'main/images/tenthaward.png' %}">
          <h2 class="mdl-card__title-text">گام دهم</h2>
        </div>
        <div class="mdl-card__supporting-text">
          اپلیکیشنی خاص برای ایحاد رقابت و مسابقه
        </div>
        <div class="mdl-card__actions mdl-card--border">
          در این شرکت به عنوان Backend developer مشفول به کار هستم
        </div>
        <div class="mdl-card__actions mdl-card--border date">
          از فروردین ۹۹ تا به امروز
        </div>
      </div>
    </div>
  </div>
</div>